.thumbnail {
  width: 100%;
  border-radius: 8px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-logo {
  width: 36px;
  border-radius: 18px;
}
.video-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 15px;
  width: 500;
  line-height: 20px;
}
.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.channel-name,
.stats {
  font-size: 12px;
  color: rgb(94, 94, 94);
  margin-bottom: 0px;
}
.channel-name {
  margin-bottom: 6px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media (max-width: 1100px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-radius: 1px;
  padding: 0px 1px 0px 1px;
}
.channel-picture-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip-channel {
  width: 200px;
  position: absolute;
  background-color: white;
  z-index: 300;
  display: flex;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  opacity: 0%;
  transition: opacity 0.015s;
  pointer-events: none;
  align-items: center;
}
.tooltip-channel-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;
}
.channel-picture-tooltip:hover .tooltip-channel {
  opacity: 100%;
}
.tooltip-channel-sub-count {
  font-family: Roboto, Arial;
  font-size: 14px;
  margin-left: 5px;
  color: gray;
}
.tooltip-channel-name {
  font-family: Roboto, Arial;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}
