* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, arial;
}
nav {
  background-color: black;
  color: white;
  height: 65px;
  font-size: 27px;
  display: flex;
  align-items: center;
  padding: 0 12px;
}
nav ul {
  list-style-type: none;
}
.gameContainer {
  background-color: none;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  position: relative;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  grid-template-rows: repeat(3, 15vw);
}
.box {
  border: 2px solid black;
  font-size: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover {
  background-color: rgb(249, 240, 255);
  cursor: pointer;
}
.gameInfo {
  padding: 0 34px;
  margin-top: 34px;
}
.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}
.bl-0 {
  border-left: 0;
}
.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}
#reset {
  margin: 0 23px;
  padding: 3px 6px;
  background-color: rgb(255, 242, 255);
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 500;
}

.info {
  font-size: 23px;
  text-transform: capitalize;
  font-weight: 800;
}
.textinfoleft {
  padding-top: 20px;
}
@media screen and (max-width: 950px) {
  #contest {
    width: 90%;
  }
}
.gameInfo h1 {
  font-size: 2.5rem;
}
